name: CD workflow

on:
  workflow_run:
    workflows: ["CI workflow"]
    types: [completed]

jobs:
  deploy:
    name: Build & Push to Docker Hub
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push backend
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/spring-react-backend:latest ./backend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/spring-react-backend:latest

      - name: Build & push frontend
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/spring-react-frontend:latest ./frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/spring-react-frontend:latest
